/*CSS File*/
.rounded img {
  height:200px;
  width: 200px;
  border-radius: 100px;
}
#square img{
  border-radius: 15px 50px;
  height: 200px;
  width: 200px;
}
header {
  background-size: cover;
  background-color: #3ccca6;
  color: black;
  text-align: center;
  padding: 10px;
}
h1 {
  display: none;
}
nav{
  line-height: 50px;
  background: #cccccc;
  height: 600px;
  width: 120px;
  float: left;
  padding: 5px;
}
section {
  width: 300px;
  float:center;
  padding: 15px;
  background-color: #7a9991;
}
button {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background: blue;
  color: white;
}
#button-two {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  background: pink;
  color: white;
}
button:hover, #button-two:hover {
  background:yellow;
}
footer {
  background: blue;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}
a {
  color: green;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  display: none;
}
.fall {
  font-family: serif;
  color: red;
  font-size:2em;
}
  p{
    display: none;
  }
