/*CSS File*/
.rounded img {
  height:200px;
  width: 200px;
  border-radius: 100px;
}
.square img{
  border-radius: 15px 50px;
  height: 200px;
  width: 200px;
  
}
header {
  background-image: url("https://static.pexels.com/photos/12064/pexels-photo-12064-large.jpeg");
  color: white;
  text-align: center;
  padding: 10px;
}
nav{
  line-height: 50px;
  background: #cccccc;
  height: 600px;
  width: 120px;
  float: left;
  padding: 5px;
}
section {
  width: 300px;
  float:left;
  padding: 15px;
}
footer {
  background: blue;
  color: white;
  clear: both;
  text-align: center;
  padding: 5px;
}
a {
  color: green;
  text-decoration: none;
}
a:hover{
  color: yellow;
}
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}
.fall {
  font-family: serif;
  color: red;
  font-size:2em;
}
