body {
    margin: 0;
    max-width: 100%;
    width: 100vw;
}

#desktopNav {
    width: 100vw;
    height: 16vh;
    background-color: black;
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    margin: 0;
}

#desktopnavlogo {
    height: 11vh;
    width: 20vw;
    display: flex;

}

#logo {
    height: 11vh;
    top: 44.5%;
    left: 3vw;
    padding-top: 2vh;
    padding-left: 3vw;
}

#desktopnavList {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin: 0;
    align-items: center;
}

#desktopnavList li {
    display: inline-flex;
    list-style-type: none;
    padding: 0 0 0 20px;
    font-size: 3vh;
    line-height: 7vh;
    vertical-align: middle;
}

#desktopnavList a {
    text-decoration: none;
    color: white;
}


#main {
    width: 100vw;
    height: 4vh;
    background-color: #0fb238;
    color: white;
    display: flex;
    justify-content: space-around;
    line-height: 4vh;
    vertical-align: middle;
}

.mission {
    display: block;
    box-sizing: border-box;
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    width: 100vw;
    max-width: 100%;
    max-width: 100%;
    background-image: url(Images/13963020_303235276704150_4019195784669416687_o.jpg);
    height: 93vh;
    max-height: 93%;
    background-size: cover;
    background-repeat: none;
}


.mission h1 {
    font-size: 10vh;
    font-weight: bold;
    left: 8vw;
    z-index: 10;
}

.mission h2{
    left: 8vw;
    font-size: 7vh;
    z-index: 2;
    color: black;
}


.plan {
    display: block;
    box-sizing: border-box;
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    width: 100vw;
    max-width: 100%;
    max-width: 100%;
}

.textone {
    height: 60vh;
    width: 75vw;
    margin-top: 11vh;
    margin-left: 7vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    font-family: sans-serif;
    border-radius: 10px;
    color: black;
}

.texttwo {
    height: 60vh;
    width: 75vw;
    margin-top: 7vh;
    margin-left: 7vw;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    font-family: sans-serif;
    border-radius: 10px;
    color: white;
}

.texttwo h1{
    font-size: 40px;
}

.texttwo p{
    font-size: 30px;
}

#planList {
    list-style: none;
    margin-left: 10vw;
}

.plan img{
    min-width: 100%;
    min-height: 70%;
    height: 70vh;
    display: block;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

#media {
   background-color: rgb(255, 255, 255);
    flex: 1 1 auto;
    height: 60vh;
    width: 50vw;
    display: inline;
}

#media a {
    text-decoration: none;
}

#media h1{
    margin: 0;
    padding: 25px;
}

#i42 {
    float: right;
    border: 5px solid black;
    padding: 5px;
}

#i60 {
    float: left;
    border: 5px solid black;
    padding: 5px;
}
#media p {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

#joinin {
    background-color: rgb(43, 127, 51);
    flex: 1 1 auto;
    height: 60vh;
    width: 50vw;
}

#footer {
    background-color: black;
    color: white;
    margin: 0;
    border: 0;
}

#footer p{
    border: 0;
    margin: 0;
}